.cards-container {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.languages,
.utilities {
  width: 30%;
}

.frameworks {
  margin-left: 5%;
  width: 30%;
  margin-right: 5%;
}

.card {
  display: flex;
  width: 90%;
  height: 8em;
  margin-top: 3em;
  padding: 5%;
  background-color: rgb(30, 26, 46);
  border-radius: 25px;
  -webkit-box-shadow: 1px 1px 20px -5px rgba(255, 255, 255, 1);
  -moz-box-shadow: 1px 1px 20px -5px rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 20px -5px rgba(255, 255, 255, 1);

  .card-thumb {
    width: 25%;
    height: auto;
  }

  // &::nth-child(n+3){
  //   margin-top: 2%;
  // }
}

@media screen and (max-width: 786px) {
  .languages,
  .utilities,
  .frameworks {
    width: 100% !important;
    margin: 0 !important;
  }
}

.list-header{
  margin-top: 5%;
}
