@import "swiper/scss";
@import "swiper/scss/navigation";

.swiper {
  width: 480px;
  height: 640px;
}

.swiper-slide {
  display: flex;
  border-radius: 18px;
  font-size: 22px;
  color: rgb(95, 29, 29);
}

.custom-slide {
  height: 100%;
  width: 100%;
  color: white;
  border-radius: 13px;
  padding: 1em;
  position: relative;
  background-color:  rgb(44, 26, 44);

  &:hover {
    cursor: pointer;
    background-image: linear-gradient(
      to bottom,
      rgb(44, 26, 44),
      rgb(128, 76, 128)
    );
    -webkit-box-shadow: 2px 25px 24px 0px rgba(186, 133, 237, 1);
    -moz-box-shadow: 2px 25px 24px 0px rgba(186, 133, 237, 1);
    box-shadow: 2px 25px 24px 0px rgba(186, 133, 237, 1);
  }

  .project-logo {
    max-height: 40%;
    width: 40%;
  }

  .project-header {
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;

    .status {
      border-radius: 10px;
      padding: 5px 10px;
      background-color: rgb(204, 173, 86);
      font-size: 12px;
      /**
      ProjectStatusTypeEnum
      */
      &-1 {
        background-color: rgb(204, 173, 86);
      }

      &-2 {
        background-color: #850d0d;
      }

      &-3 {
        background-color: rgb(34, 34, 154);
      }
    }
  }

  .hr{
    width: 100%;
  }

  .project-description {
    font-size: 13px;
  }

  .stack{
    position: absolute;
    bottom: 10%;

    &-thumb {
      height: 2em;
      width: auto;
    }
  }

  .git-link{
    position: absolute;
    bottom: 10%;
    right: 1em;

    .git-icon{
      width: 52px;
    }
  }
}
