.app-container {
  height: 100%;
  .main-header {
    margin-top: 2%;

    text-align: center;

    .name {
      font-size: 48px;
    }

    .position {
      font-size: 24px;
    }
  }

  .app-header {
    padding: 1% 5%;
    margin-top: 10%;
    height: 50%;
    width: 90%;
    background-image: linear-gradient(
      to right,
      rgba(30, 29, 34, 0.171),
      rgba(63, 60, 104, 0.418)
    );
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .text {
      width: 45%;
      .name {
        font-size: 30px;
      }

      .description {
        width: 100%;
        text-align: justify;
      }
    }

    .photo-container {
      display: flex;
      align-items: center;
      width: 45%;
      height: 98%;

      .photo {
        width: 100%;
        height: auto;
      }
    }
  }

  .page-section {
    width: 90%;
    margin-top: 3em;
    padding: 1% 5%;

    .section-header {
      font-size: 48px;
      text-align: center;
      margin-bottom: 5%;
    }

    .section-sub-header {
      text-align: center;
      font-size: 22px;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }
}

.circle {
  width: 1em;
  height: 1em;
  border: 1px solid #c2185b;
  border-radius: 100%;
  background-color: #ff0066;

  &-empty {
    background-color: rgb(30, 29, 34);
  }
}

.milestone {
  width: 15%;
  margin-bottom: 1em;
  align-items: center;
  justify-items: center;

  .milestone-description {
    text-align: center;
  }
}

.projects-section {
  align-items: center;
  .projects-header {
    font-size: 48px !important;
    font-family: "Montserrat", sans-serif !important;
    line-height: 50px;
    width: 20%;
  }

  .projects-gallery {
    width: 50%;
  }
}

.contact {
  position: fixed;
  right: 1em;
  bottom: 0;
  z-index: 3;

  .contact-thumbs {
    display: flex;
    flex-direction: column;

    .contact-thumb {
      height: 64px;
      width: auto;
      margin-bottom: 1em;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.github-link {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
  height: auto;
}

.testing-nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-width: 80vw;
  column-gap: 1em;
  img {
    max-height: 100px;
  }

  ul {
    list-style: none;
  }
}

.gallery-container {
  width: 100%;
  justify-content: center;
  column-gap: 30%;
}

.mobile-gallery-container {
  width: 100%;
  align-items: center;

  .mobile-projects-header {
    width: 100%;
    text-align: center;
  }

  .mobile-projects-gallery {
    width: 80%;
  }
}

.books,
.courses {
  width: 100%;
  column-gap: 10%;
  align-items: flex-start;
  justify-content: center;

  .book-card {
    width: 40%;
    align-items: center;
    .title {
      line-height: 36px;
      .name {
        font-size: 36px;
        margin-bottom: 2%;
      }

      .author {
        font-size: 24px;
      }
    }
  }

  .course-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    padding: 2% 1%;
    background-color: #474747;
    .course-img {
      width: 300px;
      height: auto;
      margin-bottom: 5%;
    }
    .button-container {
      align-self: flex-start;
      margin-top: 10%;
      .course-button {
        font-family: "montserrat";
        color: white;
        background-color: rgba(30, 29, 34, 0.171);
        border:1px solid #ff0066;
        padding: 1em 3em;
        text-decoration:none;

        &:hover{
          cursor: pointer;
          background-color: #ff0066;
        }
      }
    }
  }
}

@media screen and (max-width: 786px) {
  .app-header {
    width: 100%;

    .text {
      width: 100% !important;
    }
  }

  .carrer-goals {
    font-size: 11px;
    .milestone-description {
      word-break: break-all;
    }
  }
}
