<section class="app-container">
  <h1 class="main-header"><i>Portfolio Page</i></h1>

  <header class="app-header">
    <div class="text">
      <h1 class="name">Kuba Krychowski</h1>

      <p class="description">
        Programming has been my hobby for nine years already. Starting from
        writing the first web pages, programming and projecting autonomic
        robots, and creating small games in Unity 2D/3D to more serious web
        applications using the Angular framework. I am looking for a job to turn
        my lifelong hobby into a professional career under the experts' eyes. I
        am open to new challenges and always keen on learning new things. In my
        free time, I learn SQL and C# to be able to build backend for my
        personal projects and long term, to become a full-stack developer.
      </p>
    </div>
    <div class="photo">
      <img class="photo" src="../assets/face.jpg" />
    </div>
  </header>

  <article class="page-section">
    <h1 class="section-header">Technologies and languages I use:</h1>

    <div class="cards-container">
      <div class="card">
        <div class="row">
          <img class="card-thumb" src="../assets/angular-logo.png" />
          <div class="col">
            <h3>Angular</h3>
            <h5>versions: 10 - 14.1.1 (latest)</h5>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <img class="card-thumb" src="../assets/angular-materials-logo.png" />
          <div class="col">
            <h3>Angular Materials</h3>
            <h5>version: 14.1.0 (latest)</h5>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <img class="card-thumb" src="../assets/js-logo.png" />
          <div class="col">
            <h3>JavaScript</h3>
            <h5>version: ES2015 (latest)</h5>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <img class="card-thumb" src="../assets/ts-logo.svg" />
          <div class="col">
            <h3>TypeScript</h3>
            <h5>version: 4.7.4 (latest)</h5>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <img class="card-thumb" src="../assets/bootstrap-logo.png" />
          <div class="col">
            <h3>Bootstrap</h3>
            <h5>version: 5.2 (latest)</h5>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <img class="card-thumb" src="../assets/sass-logo.png" />
          <div class="col">
            <h3>SASS/SCSS</h3>
            <h5>version: 1.53 (latest)</h5>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <img class="card-thumb" src="../assets/html-logo.png" />
          <div class="col">
            <h3>HTML</h3>
            <h5>version: 5.3 (latest)</h5>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <img class="card-thumb" src="../assets/dot-net-logo.png" />
          <div class="col">
            <h3>ASP .NET</h3>
            <h5>version: 5.3 (latest)</h5>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <img class="card-thumb" src="../assets/wix-logo.png" />
          <div class="col">
            <h3>Wix</h3>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <img class="card-thumb" src="../assets/node-js-logo.png" />
          <div class="col">
            <h3>Node.js</h3>
            <h5>version: 5.3 (latest)</h5>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <img class="card-thumb" src="../assets/google-firebase-logo.png" />
          <div class="col">
            <h3>Google firebase</h3>
            <h5>version: 5.3 (latest)</h5>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="page-section">
    <h1 class="section-header">My work experience</h1>

    <div class="company-description">
      <div class="row">
        <img class="company-logo" src="../assets/its&whiles-logo.png">

        <div class="col">
          <h3 class="company-name">Ifs&Whiles sp.z o.o</h3>
          <h5 clas="my-experience-time">9 months: 10.2021 - 06.2022</h5>
        </div>
      </div>

    </div>
  </article>
</section>
