<section class="app-container">
  <header class="main-header">
      <h1 class="name">
        <i>Kuba Krychowski</i>
      </h1>

      <h3 class="position">
        Junior Front-end Developer
      </h3>
  </header>


  <header class="app-header">
    <div class="text">
      <p class="description">
        Programming has been my hobby for nine years already. Starting from
        writing the first web pages, programming and projecting autonomic
        robots, and creating small games in Unity 2D/3D to more serious web
        applications using the Angular framework. I am looking for a job to turn
        my lifelong hobby into a professional career under the experts' eyes. I
        am open to new challenges and always keen on learning new things. In my
        free time, I learn SQL and C# to be able to build backend for my
        personal projects and long term, to become a full-stack developer.
      </p>
    </div>
    <div class="photo">
      <img class="photo" src="../assets/face.jpg" />
    </div>
  </header>

  <article class="page-section">
    <h1 class="section-header">Technologies and languages I use:</h1>

    <app-languages></app-languages>
  </article>

  <article class="page-section">
    <h1 class="section-header">My work experience</h1>

    <app-work-experience></app-work-experience>
  </article>

  <article class="page-section">
    <h1 class="section-header">My carrer goals</h1>
    <div class="row">
      <div class="col milestone">
        <p style="text-align: center">Learn basics of JavaScript,CSS,HTML</p>
        <div class="circle"></div>
      </div>

      <div class="col milestone">
        <p style="text-align: center">
          Learn Angular Framework and any of preprocessors styles language
          (SASS,SCSS)
        </p>
        <div class="circle"></div>
      </div>

      <div class="col milestone">
        <p style="text-align: center">Get first job as front-end developer</p>
        <div class="circle"></div>
      </div>

      <div class="col milestone">
        <p style="text-align: center">Gain 1 year of commercial experience</p>
        <div class="circle"></div>
      </div>

      <div class="col milestone">
        <p style="text-align: center">Start learning .NET Framework</p>
        <div class="circle circle-empty"></div>
      </div>

      <div class="col milestone">
        <p style="text-align: center">Get first job as full-stack developer</p>
        <div class="circle circle-empty"></div>
      </div>
    </div>

    <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
  </article>

  <article class="page-section">
    <h1 class="section-header">My projects:</h1>
    <div class="row">
      <div class="project-card-container">
        <div class="project-card-content relative">
          <img class="project-photo" src="../assets/marketing-simulator.png" />
          <div class="row">
            <h3 class="project-name"><b>Marketing Simulator</b></h3>

            <div class="ml-a status">In build</div>
          </div>
          <hr />
          <p class="project-short-description">
            It's a web application aimed at demonstration of free-market rules.
            Every user starts with a small company whose goal is to climb global
            rankings.
          </p>
          <div class="stack ml-a">
            <h5>Stack:</h5>

            <div class="row col-gap-1">
              <img
                class="tech-thumb"
                matTooltip="Angular Framework"
                src="../assets/angular-logo.png"
              />
              <img
                class="tech-thumb"
                matTooltip="Angular Materials"
                src="../assets/angular-materials-logo.png"
              />
              <img
                class="tech-thumb"
                matTooltip="ASP .NET"
                src="../assets/dot-net-logo.png"
              />
              <img
                class="tech-thumb"
                matTooltip="google cloud platform: google maps and geolocalization"
                src="../assets/gcs-logo.png"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="project-card-container">
        <div class="project-card-content relative">
          <img class="project-photo" src="../assets/company-management.png" />
          <div class="row">
            <h3 class="project-name"><b>Company Management</b></h3>

            <div class="ml-a status status-canceled">Canceled</div>
          </div>
          <hr />
          <p class="project-short-description">
            Web application letting small companies owners better manage
          </p>

          <div class="stack ml-a">
            <h5>Stack:</h5>

            <div class="row col-gap-1">
              <img class="tech-thumb" src="../assets/angular-logo.png" />
              <img class="tech-thumb" src="../assets/bootstrap-logo.png" />
              <img
                class="tech-thumb"
                src="../assets/google-firebase-logo.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>

<section class="contact">
  <article class="contact-thumbs">
    <a href="https://www.linkedin.com/in/kuba-krychowski-2a0743237/" target="_blank">
      <img class="contact-thumb" src="../assets/linkedIn-logo.png">
    </a>

    <img class="contact-thumb" src="../assets/call-logo.png">

    <a href="mailto: kkrychowski@interia.pl">
      <img class="contact-thumb" src="../assets/mail-logo.png">
    </a>
  </article>
</section>
