.app-container {
  height: 90vh;

  .main-header {
    font-size: 48px;
    text-align: center;
  }

  .app-header {
    padding: 1% 5%;
    margin-top: 10%;
    height: 50%;
    background-image: linear-gradient(
      to right,
      rgba(30, 29, 34, 0.171),
      rgba(63, 60, 104, 0.418)
    );
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .text {
      width: 50%;
      .name {
        font-size: 30px;
      }

      .paragraph-header {
      }

      .description {
        width: 100%;
        text-align: justify;
      }
    }

    .photo {
      height: 100%;
    }
  }

  .page-section {
    margin-top: 3em;
    padding: 1% 5%;

    .section-header {
      text-align: center;
    }

    .cards-container {
      margin-top: 2em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .card {
      width: 20%;
      margin-top: 2%;
      background-color: rgb(30, 26, 46);
      border-radius: 8%;
      padding: 2%;
      margin-left: 5%;
      -webkit-box-shadow: 1px 1px 20px -5px rgba(255, 255, 255, 1);
      -moz-box-shadow: 1px 1px 20px -5px rgba(255, 255, 255, 1);
      box-shadow: 1px 1px 20px -5px rgba(255, 255, 255, 1);

      .card-thumb {
        width: 25%;
        height: auto;
      }

      // &::nth-child(n+3){
      //   margin-top: 2%;
      // }
    }
  }

  .company-description {
    padding: 1%;
    margin-bottom: 4em;
    &-ifs-and-whiles {
      border-radius: 8px;
      -webkit-box-shadow: -2px 13px 69px -25px rgba(196, 34, 14, 1);
      -moz-box-shadow: -2px 13px 69px -25px rgba(196, 34, 14, 1);
      box-shadow: -2px 13px 69px -25px rgba(196, 34, 14, 1);
      background-image: linear-gradient(
        to right,
        rgba(168, 111, 25, 0.171),
        rgba(139, 29, 29, 0.418)
      );
    }

    &-mpl {
      border-radius: 8px;
      -webkit-box-shadow: -2px 13px 69px -25px rgba(255, 255, 255, 1);
      -moz-box-shadow: -2px 13px 69px -25px rgba(255, 255, 255, 1);
      box-shadow: -2px 13px 69px -25px rgba(255, 255, 255, 1);
      background-image: linear-gradient(
        to right,
        rgba(187, 91, 75, 0.847),
        rgba(60, 194, 69, 0.418)
      );
    }
    .company-logo {
      height: 50%;
      width: auto;

      &-mpl {
        width: 15%;
        height: auto;
      }
    }

    .company-name {
      font-size: 36px;
    }

    .expanded-description{
      margin-left: 5%;
      width: 80%;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2%;
}

.col {
  display: flex;
  flex-direction: column;
}

h3 {
  margin: 0;
}

h5 {
  margin: 0;
}

.circle{
  width: 1em;
  height: 1em;
  border: 1px solid #c2185b;
  border-radius: 100%;
  background-color: #ff0066;

  &-empty{
    background-color: rgb(30, 29, 34);
  }
}

.milestone{
  width: 15%;
  margin-bottom: 1em;
  align-items: center;
  justify-items: center;
}
