.app-container {
  height: 90vh;

  .main-header {
    margin-top: 2%;

    text-align: center;

    .name {
      font-size: 48px;
    }

    .position {
      font-size: 24px;
    }
  }

  .app-header {
    padding: 1% 5%;
    margin-top: 10%;
    height: 50%;
    background-image: linear-gradient(
      to right,
      rgba(30, 29, 34, 0.171),
      rgba(63, 60, 104, 0.418)
    );
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .text {
      width: 50%;
      .name {
        font-size: 30px;
      }

      .paragraph-header {
      }

      .description {
        width: 100%;
        text-align: justify;
      }
    }

    .photo {
      height: 100%;
    }
  }

  .page-section {
    margin-top: 3em;
    padding: 1% 5%;

    .section-header {
      text-align: center;
    }
  }
}

.circle {
  width: 1em;
  height: 1em;
  border: 1px solid #c2185b;
  border-radius: 100%;
  background-color: #ff0066;

  &-empty {
    background-color: rgb(30, 29, 34);
  }
}

.milestone {
  width: 15%;
  margin-bottom: 1em;
  align-items: center;
  justify-items: center;
}

.project-card-container {
  padding: 1%;
  width: 25%;
  height: 45vh;
  background-color: rgb(44, 26, 44);
  border-radius: 8px;
  -webkit-box-shadow: 2px 10px 24px 0px rgba(95, 16, 176, 1);
  -moz-box-shadow: 2px 10px 24px 0px rgba(95, 16, 176, 1);
  box-shadow: 2px 10px 24px 0px rgb(40, 32, 48);

  &:hover {
    background-image: linear-gradient(
      to bottom,
      rgb(44, 26, 44),
      rgb(128, 76, 128)
    );
    background-color: rgb(128, 76, 128);
    -webkit-box-shadow: 2px 25px 24px 0px rgba(186, 133, 237, 1);
    -moz-box-shadow: 2px 25px 24px 0px rgba(186, 133, 237, 1);
    box-shadow: 2px 25px 24px 0px rgba(186, 133, 237, 1);
  }

  .project-card-content {
    height: 100%;
    width: 100%;

    .project-photo {
      width: 98%;
      max-height: 140px;
    }

    .project-name {
      text-align: left;
    }

    .status {
      border-radius: 10px;
      padding: 5px 10px;
      background-color: rgb(204, 173, 86);

      &-canceled {
        background-color: rgb(133, 13, 13);
      }
    }

    .stack {
      position: absolute;
      bottom: 0;
      .tech-thumb {
        height: 2em;
        width: auto;
      }
    }
  }
}

.contact {
  position: fixed;
  right: 1em;
  bottom: 0;

  .contact-thumbs {
    display: flex;
    flex-direction: column;

    .contact-thumb {
      height: 64px;
      width: auto;
      margin-bottom: 1em;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.github-link{
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
  height: auto;
}
