<section class="app-container">
  <h1 class="main-header"><i>Portfolio Page</i></h1>

  <header class="app-header">
    <div class="text">
      <div class="row">
        <h1 class="name">Kuba Krychowski</h1>
        <h3>Junior Front-end Developer</h3>
      </div>

      <p class="description">
        Programming has been my hobby for nine years already. Starting from
        writing the first web pages, programming and projecting autonomic
        robots, and creating small games in Unity 2D/3D to more serious web
        applications using the Angular framework. I am looking for a job to turn
        my lifelong hobby into a professional career under the experts' eyes. I
        am open to new challenges and always keen on learning new things. In my
        free time, I learn SQL and C# to be able to build backend for my
        personal projects and long term, to become a full-stack developer.
      </p>
    </div>
    <div class="photo">
      <img class="photo" src="../assets/face.jpg" />
    </div>
  </header>

  <article class="page-section">
    <h1 class="section-header">Technologies and languages I use:</h1>

    <div class="cards-container">
      <div class="card">
        <div class="row">
          <img class="card-thumb" src="../assets/angular-logo.png" />
          <div class="col">
            <h3>Angular</h3>
            <h5>versions: 10 - 14.1.1 (latest)</h5>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <img class="card-thumb" src="../assets/angular-materials-logo.png" />
          <div class="col">
            <h3>Angular Materials</h3>
            <h5>version: 14.1.0 (latest)</h5>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <img class="card-thumb" src="../assets/js-logo.png" />
          <div class="col">
            <h3>JavaScript</h3>
            <h5>version: ES2015 (latest)</h5>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <img class="card-thumb" src="../assets/ts-logo.svg" />
          <div class="col">
            <h3>TypeScript</h3>
            <h5>version: 4.7.4 (latest)</h5>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <img class="card-thumb" src="../assets/bootstrap-logo.png" />
          <div class="col">
            <h3>Bootstrap</h3>
            <h5>version: 5.2 (latest)</h5>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <img class="card-thumb" src="../assets/sass-logo.png" />
          <div class="col">
            <h3>SASS/SCSS</h3>
            <h5>version: 1.53 (latest)</h5>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <img class="card-thumb" src="../assets/html-logo.png" />
          <div class="col">
            <h3>HTML</h3>
            <h5>version: 5.3 (latest)</h5>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <img class="card-thumb" src="../assets/dot-net-logo.png" />
          <div class="col">
            <h3>ASP .NET</h3>
            <h5>version: 5.3 (latest)</h5>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <img class="card-thumb" src="../assets/wix-logo.png" />
          <div class="col">
            <h3>Wix</h3>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <img class="card-thumb" src="../assets/node-js-logo.png" />
          <div class="col">
            <h3>Node.js</h3>
            <h5>version: 5.3 (latest)</h5>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <img class="card-thumb" src="../assets/google-firebase-logo.png" />
          <div class="col">
            <h3>Google firebase</h3>
            <h5>version: 5.3 (latest)</h5>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="page-section">
    <h1 class="section-header">My work experience</h1>

    <div
      (click)="toggleCompanyDescription()"
      class="company-description company-description-ifs-and-whiles"
    >
      <div class="row">
        <img class="company-logo" src="../assets/its&whiles-logo.png" />

        <div class="col">
          <h3 class="company-name">Ifs&Whiles sp.z o.o</h3>
          <h5 clas="my-experience-time">9 months: 10.2021 - 06.2022</h5>
        </div>

        <span class="ml-a material-icons"> expand_more </span>
      </div>

      <div class="expanded-description" *ngIf="isCompanyDescriptionVisible">
        <h5>My daily duties:</h5>
        <ul>
          <li>
            I worked on a front-end application for manual testers training. The
            application is a simplified version of "Trello" with an additional
            option to turn some pre-programmed "bugs" on and off so that
            trainees could find them and see what the process of testing the
            software looks like. <b>Gallery button</b>
          </li>
        </ul>

        <h5>Technologies I used:</h5>

        <ul>
          <li>Angular</li>
          <li>Html</li>
          <li>bootstrap</li>
          <li>SASS</li>
          <li>ngx-bootstrap</li>
          <li>TypeScript</li>
        </ul>

        <h5>Biggest problems i had to resolve:</h5>

        <p>My Achilles' heel was creating drag-drop system for tasks between lists. After 2 days of fight with that, i changed my mindset a bit and tried
          to use ngx-drap-drop library which was success.
        </p>
      </div>
    </div>

    <div
      (click)="toggleCompanyDescription()"
      class="company-description company-description-mpl"
    >
      <div class="row">
        <img class="company-logo-mpl" src="../assets/mpl-logo.png" />

        <div class="col">
          <h3 class="company-name">Mieszkanie.pl sp.z o.o</h3>
          <h5 clas="my-experience-time">3 months: 05.2021 - 08.2022</h5>
        </div>
      </div>

      <span class="ml-a material-icons"> expand_more </span>

      <div class="expanded-description" *ngIf="isCompanyDescriptionVisible">
        <h5>My daily duties:</h5>
        <ul>
          <li>
            front-end development using Angular, HTML and SCSS for mieszkanie.pl and hrenext.pl applications
          </li>

          <li>
            Cooperation with the team on working on front-end solutions
          </li>

          <li>
            Creating materials based on delivered adobe xd projects for the marketing department like:
            <ul>
              <li>mailings</li>
              <li>banners in HTML</li>
            </ul>
          </li>

          <li>Deployment solutions under the SEO and PWA</li>
          <li>Deployment web pages</li>
          <li>Support in mieszkanie.pl development</li>
          <li>Creating web pages in WordPress based on adobe xd projects</li>
        </ul>

        <h5>Technologies I used:</h5>

        <ul>
          <li>Angular</li>
          <li>Html</li>
          <li>bootstrap</li>
          <li>SCSS</li>
          <li>TypeScript</li>
          <li>RxJS</li>
          <li>Angular Materials</li>
          <li>JavaScript</li>
        </ul>

        <h5>Biggest problems i had to resolve:</h5>
          <ul>
            <li><h4>Create a gallery for offers in marketplace listing</h4></li>
          </ul>

          <p>SwiperJS is really nice looking library to do that. Unfortunetly it doesn't work well in angular projects. Most of features are bugged or disabled.
            If I say that i had to "rewrite" features like: adding gestures serives or thumbnails it will be good affirmative.
          </p>

          <ul>
            <li><h4>Drag events to put them in the next/previous week</h4></li>
          </ul>

          <p>At the beggining we planned to create drag system similar to implemented in every android mobile phone. When user hold event in the end of last day in week view, calendar should
            detect that event, and swipe to the next/previous week. Everything worked good till swipe moment cause then, mwl-calendar (its angular build in library) destroy instance of week which from event
            have been taken and creates new. Of course event was dissapearing then. Solution was easier than we would expect. All I had to do was create container to hold all events which I want to replace
            and put them back.
          </p>
      </div>
    </div>
  </article>

  <article class="page-section">
    <h1 class="section-header">My carrer goals</h1>
    <div class="row">
      <div class="col milestone">
        <p style="text-align: center;">Learn basics of JavaScript,CSS,HTML</p>
        <div class="circle"></div>
      </div>

      <div class="col milestone">
        <p style="text-align: center;">Learn Angular Framework and any of preprocessors styles language (SASS,SCSS)</p>
        <div class="circle"></div>
      </div>

      <div class="col milestone">
        <p style="text-align: center;">Get first job as front-end developer</p>
        <div class="circle"></div>
      </div>

      <div class="col milestone">
        <p style="text-align: center;">Gain 1 year of commercial experience</p>
        <div class="circle"></div>
      </div>

      <div class="col milestone">
        <p style="text-align: center;">Start learning .NET Framework</p>
        <div class="circle circle-empty"></div>
      </div>

      <div class="col milestone">
        <p style="text-align: center;">Get first job as full-stack developer</p>
        <div class="circle circle-empty"></div>
      </div>
    </div>

    <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>


  </article>
</section>
