html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: rgb(30, 29, 34);
  color: white;
  font-family: 'Montserrat', sans-serif !important;
}

.ml-a {
  margin-left: auto;
}

.mt-a{
  margin-top: auto;
}

html, body { height: 100%; }

